- datetime:
    text_size: xl
    format:
      dateStyle: long
      timeStyle: short
      hourCycle: h23

- openmeteo:
    label: Erlangen
    latitude: 49.5897
    longitude: 11.0120
    timezone: Europe/Berlin
    units: metric
    cache: 5

- search:
    provider: google
    target: _blank
